<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>로그인 페이지</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
        crossorigin="anonymous">
  <!-- Custom CSS -->
  <link th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body class="d-flex align-items-center py-4 bg-body-tertiary" data-bs-theme="light">

<main class="form-login w-100 m-auto">
  <form action="login.html" th:action th:object="${loginRequestDto}" method="post">
    <img class="mb-4 form-logo" src="/static/image/logo.png" th:src="@{/image/logo.png}"
         th:onclick="|location.href='@{/}'|" alt="로고" width="296">
    <!-- errors -->
    <div th:if="${param.error}">
      <div class="alert alert-danger" style="margin-bottom: 10px">
        이메일 또는 비밀번호를 확인해 주세요
      </div>
    <!-- messages -->
    </div>
    <div th:if="${message}">
      <div class="alert alert-success" style="margin-bottom: 10px">
        <th:block th:text="${message}"></th:block>
      </div>
    </div>
    <!-- inputs -->
    <div class="form-floating">
      <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="name@example.com">
      <label for="email">이메일</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="matchingPassword" th:field="*{password}" placeholder="Password">
      <label for="matchingPassword">비밀번호</label>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit">로그인</button>
  </form>
<!--  <img class="mb-4 form-logo" src="/static/image/kakao_login_medium_wide.png" th:src="@{/image/kakao_login_medium_wide.png}"-->
<!--       th:onclick="|location.href='@{/oauth2/authorization/kakao}'|" alt="카카오 로그인" width="296" style="margin-top: 10px">-->
  <div class="mx-auto p-2 text-center">
    <a class="icon-link icon-link-hover" href="#" th:href="@{/auth/signup}">회원가입</a>
  </div>
</main>

<script th:src="@{/js/color-modes.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>
