<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: layout(~{::title}, ~{::section}, ~{::#activeNav})}" lang="en">
<head>
  <meta charset="UTF-8">
  <title>채널 등록 페이지</title>
</head>
<body>

<!-- navbar -->
<div id="activeNav" style="display: flex;">
  <a class="nav-link fw-bold py-1 px-0" th:href="@{/home}">Home</a>
  <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" th:href="@{/channel/list}">Channel</a>
  <a class="nav-link fw-bold py-1 px-0" th:href="@{/post/list}">Post</a>
</div>

<section>
  <div class="container">
    <h2 class="my-3 border-bottom pb-2">채널 등록</h2>
    <form th:action th:object="${channelSaveRequestDto}" method="post">
      <div th:replace="~{form_errors :: formErrorsFragment}"></div>
      <div class="mb-3" style="text-align: left">
        <label for="inputChannelName" class="form-label">채널 이름</label>
        <input type="text" id="inputChannelName" th:field="*{name}" class="form-control" placeholder="채널 이름을 입력해 주세요">
      </div>
      <div class="mb-3" style="text-align: left">
        <label for="exampleInputPassword1" class="form-label">비밀번호</label>
        <input type="password" class="form-control" id="exampleInputPassword1" th:field="*{password}" placeholder="비밀번호를 입력해 주세요">
      </div>
      <div class="mb-3" style="text-align: left">
        <label for="inputCount" class="form-label">최대 인원 (기본 10)</label>
        <input type="number" class="form-control" id="inputCount" th:field="*{maxCount}" placeholder="최대 인원을 설정해 주세요">
      </div>
      <input type="submit" value="등록" class="btn btn-primary my-2">
    </form>
  </div>
</section>

</body>
</html>