<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::section}, ~{::script})}">
<head>
  <meta charset="UTF-8">
  <title>게시글 목록 페이지</title>
  <!-- Custom CSS -->
  <link th:href="@{/css/cover.css}" rel="stylesheet">
</head>
<body>

<section>
  <div class="container my-3">
    <a th:href="@{/post/save}" class="btn btn-primary">게시글 등록</a>
    <div class="row my-3">
      <!-- search -->
      <form th:action="@{/post/list}" th:object="${postMemberSearchCond}" class="form-inline">
        <div class="input-group">
          <input type="text" class="form-control" th:field="*{keyword}" placeholder="게시글 검색">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">검색</button>
          </div>
        </div>
      </form>
    </div>
    <table class="table">
      <thead class="table-dark">
      <tr class="text-center">
        <th>번호</th>
        <th style="width:50%">제목</th>
        <th>글쓴이</th>
        <th>작성일</th>
      </tr>
      </thead>
      <tbody>
      <tr class="text-center" th:each="post : ${posts}">
        <td th:text="|${posts.number * 10 + postStat.count}|">채널 번호</td>
        <td class="text-start">
          <a th:href="@{|/post/${post.id}|}" th:text="${post.title}"></a>
          <span class="text-danger small ms-2" th:if="${#lists.size(post.comments) > 0}"
                th:text="${#lists.size(post.comments)}">
                </span>
        </td>
        <td><span th:text="${post.memberName}"></span></td>
        <td th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')}"></td>
      </tr>
      </tbody>
    </table>
    <!-- paging -->
    <div th:if="${!posts.isEmpty()}">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <!-- prev -->
          <li class="page-item" th:classappend="${!posts.hasPrevious} ? 'disabled'">
            <a class="page-link" th:href="@{|/post/list?page=${posts.number - 1}|}" tabindex="-1">이전</a>
          </li>
          <!-- pages -->
          <li th:each="page: ${#numbers.sequence(1, posts.totalPages)}"
              th:if="${page - 1 >= posts.number - 5 and page - 1 <= posts.number + 5}"
              th:classappend="${page - 1 == posts.number} ? 'active'"
              class="page-item">
            <a th:text="${page}" class="page-link" th:href="@{|/post/list?page=${page - 1}|}"></a>
          </li>
          <!-- next -->
          <li class="page-item" th:classappend="${!posts.hasNext} ? 'disabled'">
            <a class="page-link" th:href="@{|/post/list?page=${posts.number + 1}|}" >다음</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>

<script type='text/javascript'>
  const page_elements = document.getElementsByClassName("page-link");
  Array.from(page_elements).forEach(function(element) {
    element.addEventListener('click', function() {
      document.getElementById('page').value = this.dataset.page;
      document.getElementById('searchForm').submit();
    });
  });
  const btn_search = document.getElementById("btn_search");
  btn_search.addEventListener('click', function() {
    document.getElementById('kw').value = document.getElementById('search_kw').value;
    document.getElementById('page').value = 0;  // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
    document.getElementById('searchForm').submit();
  });
</script>
</body>
</html>